.header{
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 0;
    width: 95%;
    height: 80px;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
.header_left{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_right{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.header_left p{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.header_left img{
    margin-left: 10px;
    width: 30px;
    height: 25px;
}
.header_right input{
    min-width: 250px;
    border: none;
    border-radius: 10px;
    padding: 3%;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    margin-right: 0;
}
.header_right input:focus{
    outline: none;
}
.header_right input::placeholder{
    margin-right: 5%;
    color: #213261;
    text-align: right;
}
.header_right img{
    width: 40px;
    height: 40px;
    margin: auto 20px auto 20px;
}